.Titulo {
    text-align: center;
}

.Boton-Crear {
    margin-top: 2%;
    margin-left: 47%;
    margin-bottom: 2%;
}

.Tabla {
    border: solid 1px;
    border-radius: 2px;
}

.Tabla3 {
    border: solid 1px;
    border-radius: 2px;
}