@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  box-sizing: border-box;
  background-color: #e2e2e2;
}

h1 {
  text-align: center;
  padding-top: 2%;
  font-size: 40px;
}